.header {
    z-index: 1;
    background-color: #f3f6f8;
    &__top {
        display: grid;
        grid-template-columns: 200px auto;
        align-items: center;
        column-gap: 55px;
        border-bottom: 1px solid rgba(67, 82, 92, 0.5);
    }

    &__info {
    }

    &__logo {
    }

    &__navigation {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 8px;
    }

    &__location {
        position: relative;
        color: var(--color-text);
        font-size: 16px;
        font-weight: 600;
        padding-left: 10px;
        vertical-align: middle;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -10px;
            background-image: url("/img/svg/geo-location.svg");
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__nav {
    }

    &__social {
    }
}
.nav {
    &__list {
        display: flex;
        justify-content: space-between;
        column-gap: 50px;
    }

    &__item {
    }

    &__link {
        font-size: 18px;
        color: rgba(67, 82, 92, 0.7);
        position: relative;

        &:hover {
            color: var(--color-text);
            transition: all 0.3s;
        }
        &:after {
            position: absolute;
            bottom: -3px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: ".";
            color: transparent;
            background: var(--color-text);
            height: 2px;
            transition: all 0.3s;
        }
        &:hover:after {
            width: 100%;
            transition: all 0.3s;
        }
    }
}
.social {
    &__list {
        display: flex;
        justify-content: space-between;
        column-gap: 25px;
    }

    &__item {
    }

    &__link svg {
        width: 26px;
        height: 26px;
        fill: rgba(67, 82, 92, 0.7);
    }
    &__link svg:hover {
        fill: var(--color-text);
        transition: all 0.3s;
    }
}
.header {
    &__center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    &__catalog {
        display: inline-block;
        position: relative;
        background-color: var(--color-accent);
        padding-right: 27px;
        padding-left: 58px;
        padding-top: 11px;
        padding-bottom: 11px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 17px;
        line-height: 150%;
        color: var(--color-white);
        font-weight: 700;
        &::before {
            content: "";
            position: absolute;
            height: 16px;
            width: 16px;
            background-image: url("/img/svg/btn-grid.svg");
            background-size: cover;
            top: 50%;
            transform: translateY(-50%);
            left: 27px;
            vertical-align: middle;
        }
    }

    &__favorite {
        font-weight: 600;
        color: var(--color-text);
        position: relative;
        &:hover {
            color: var(--color-accent);
            transition: all 0.3s;
        }
        &:hover svg {
            fill: var(--color-accent);
            transition: all 0.3s;
        }
    }
    &__favorite svg {
        width: 22px;
        height: 20px;
        vertical-align: middle;
        margin-right: 10px;
        fill: var(--color-text);
    }

    &__phone {
        font-weight: 600;
        color: var(--color-text);
        position: relative;
        &:hover {
            color: var(--color-accent);
            transition: all 0.3s;
        }
        &:hover svg {
            fill: var(--color-accent);
            transition: all 0.3s;
        }
    }
    &__phone svg {
        width: 22px;
        height: 20px;
        vertical-align: middle;
        margin-right: 5px;
        fill: var(--color-text);
    }
}
.submit {
}
.search {
}
.header {
    &__bottom {
    }
}
.main-nav {
    padding-top: 25px;
    padding-bottom: 25px;
    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    &__item {
    }

    &__link {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
        color: var(--color-text);
        &:hover {
            color: var(--color-accent);
            transition: all 0.3s;
        }
    }
}
