<section class="advantages">
   <div class="container">
      <ul class="advantages__list">
         <li class="advantages__item"><svg>
               <use xlink:href="img/sprite.svg#advantages-item-1"></use>
            </svg>
            <div class="advantages__item-text">Производство за 6 часов</div>
         </li>
         <li class="advantages__item">
            <svg>
               <use xlink:href="img/sprite.svg#advantages-item-2"></use>
            </svg>
            <div class="advantages__item-text">Письменная гарантия</div>
         </li>
         <li class="advantages__item">
            <svg>
               <use xlink:href="img/sprite.svg#advantages-item-3"></use>
            </svg>
            <div class="advantages__item-text">Бесплатный замер</div>
         </li>
         <li class="advantages__item">
            <svg>
               <use xlink:href="img/sprite.svg#advantages-item-4"></use>
            </svg>
            <div class="advantages__item-text">Рассрочка на покупку</div>
         </li>
         <li class="advantages__item">
            <svg>
               <use xlink:href="img/sprite.svg#advantages-item-5"></use>
            </svg>
            <div class="advantages__item-text">Доставка по региону</div>
         </li>
      </ul>
   </div>
</section>
