<section class="blog">
   <div class="container">
      <h3 class="blog__title section-title"><span>Мы помогаем людям делать</span> свои дома красивыми, практичными и
         долговечными!
      </h3>
      <div class="blog__text">Один из крупнейших производителей кровельных материалов в России. У нас немалый опыт и
         сотни тысяч объектов по всей стране. Делимся с Вами самым интересным и важным в блоге</div>
      <a href="#" class="blog__btn btn-reset btn">Перейти в блог</a>
      <img src="img/blog-bg.png" alt="фото дом" class="blog__img">
   </div>
</section>
