<section class="category">
   <div class="main-container">
      <div class="category__grid">
         <div class=" main-item">
            <h2 class="main-item__title">Покрофф — от фундамента до кровли</h2>
            <div class="main-item__text">Центр кровли Покрофф производит широкий ассортимент собственной продукции и
               является официальным дилером ведущих компаний. Мы следим за качеством каждого товара, который представлен
               в каталоге.</div>
            <div class="main-item__buttons">
               <a class="main-item__btn-1 btn-reset btn">Перейти&nbsp;в&nbsp;каталог</a>
               <a class="main-item__btn-2 btn-reset btn">Все&nbsp;Категории</a>
            </div>
         </div>
         <div class="category__item category__item--img-1">
            <div class="category__item-title">Для кровли</div>
            <div class="category__item-text">Красивая и надежная кровля со скидкой до 5 000 рублей</div>
            <a href="#" class="category__item-link btn-jump">
               <svg>
                  <use xlink:href="img/sprite.svg#arrow-jump"></use>
               </svg>
            </a>
         </div>
         <div class="category__item category__item--img-2">
            <div class="category__item-title">Для забора</div>
            <div class="category__item-text">Профнастил и штакетник по самым выгодным ценам, с бесплатным замером</div>
            <a href="#" class="category__item-link btn-jump">
               <svg>
                  <use xlink:href="img/sprite.svg#arrow-jump"></use>
               </svg>
            </a>
         </div>
         <div class="category__item category__item--img-3">
            <div class="category__item-title">Для фасада и цоколя</div>
            <div class="category__item-text">Наружные отделочные материалы высокого качества</div>
            <a href="#" class="category__item-link btn-jump">
               <svg>
                  <use xlink:href="img/sprite.svg#arrow-jump"></use>
               </svg>
            </a>
         </div>
         <div class="category__item category__item--img-4">
            <div class="category__item-title">Для дачи, огорода и сада</div>
            <div class="category__item-text">Прочные теплицы и парники, грядки для лучшего урожая</div>
            <a href="#" class="category__item-link btn-jump">
               <svg>
                  <use xlink:href="img/sprite.svg#arrow-jump"></use>
               </svg>
            </a>
         </div>
         <div class="category__item category__item--img-5">
            <div class="category__item-title">Гирлянды к Новому году</div>
            <div class="category__item-text">Яркие гирлянды для праздника снаружи и внутри дома</div>
            <a href="#" class="category__item-link btn-jump">
               <svg>
                  <use xlink:href="img/sprite.svg#arrow-jump"></use>
               </svg>
            </a>
         </div>
      </div>
   </div>
</section>
