<section class="category">
   <div class="main-container">
      <div class="category__grid">
         <div class="category__item">

         </div>
         <div class="category__item">
            <!-- <img src="img/category-grid-1.jpg" alt="для кровли" class="category__item-img"> -->
            <div class="category__item-title">Для кровли</div>
            <div class="category__item-text">Красивая и надежная кровля со скидкой до 5 000 рублей
            </div>
         </div>
         <div class="category__item"></div>
         <div class="category__item"></div>
         <div class="category__item"></div>
         <div class="category__item"></div>
      </div>
   </div>
</section>
