<section class="hero">

  <div class="swiper-container hero-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide hero-slide">
        <div class="hero__slider-img">
          <img class="hero__img" src="/img/hero-1.jpg" alt="Крыша дома с фасадным остекление">
        </div>
        <div class="container hero-container">
          <div class="hero__left">
            <div class="hero__title"><span>Строительные</span> материалы и услуги</div>
            <div class="hero__text">Мы помогаем людям делать свои дома красивыми, практичными и договечными!</div>
            <a href="#" class="hero__catalog-link btn">Перейти в каталог</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        Slide 2
      </div>
      <div class="swiper-slide">Slide 3</div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev hero-swiper-button-prev"></div>
    <div class="swiper-button-next hero-swiper-button-next"></div>

  </div>


</section>
