<section class="sale">
   <div class="container">
      <div class="sale__title section-title">Наши <span>акции</span></div>

      <!-- Slider main container -->
      <div class="swiper sale-swiper">
         <!-- Additional required wrapper -->
         <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide sale-slide">
               <div class="slider__item">
                  <div class="item__top item__img--1">
                     <div class="item__title">Бесплатный расчет кровли, не&nbsp;выходя из&nbsp;дома</div>
                     <div class="item__validity">Срок действия: до 31.03.2021</div>
                     <a class="btn-jump">
                        <svg>
                           <use xlink:href="img/sprite.svg#arrow-jump"></use>
                        </svg>
                     </a>
                  </div>

                  <div class="item__text">
                     <p> Закажите бесплатный расчет по выбору кровли
                        и кровельных материалов, не выходя из дома.</p>
                  </div>
               </div>
            </div>
            <div class="swiper-slide sale-slide">
               <div class="slider__item">
                  <div class="item__top item__img--2">
                     <div class="item__title">Сделайте Ваш праздник ярче и получите подарок!</div>
                     <div class="item__validity">Срок действия: до 25.01.2021</div>
                     <a class="btn-jump">
                        <svg>
                           <use xlink:href="img/sprite.svg#arrow-jump"></use>
                        </svg>
                     </a>
                  </div>

                  <div class="item__text">
                     <p>При покупке уличных гирлянд любого вида на сумму от 5000 рублей, Вы получаете домашнюю гирлянду
                        В ПОДАРОК!</p>
                  </div>
               </div>
            </div>
            <div class="swiper-slide sale-slide">
               <div class="slider__item">
                  <div class="item__top item__img--3">
                     <div class="item__title">Первая распродажа года! Скидки до 70%</div>
                     <div class="item__validity">Срок действия: до 31.01.2021</div>
                     <a class="btn-jump">
                        <svg>
                           <use xlink:href="img/sprite.svg#arrow-jump"></use>
                        </svg>
                     </a>
                  </div>

                  <div class="item__text">
                     <p> Прямо сейчас Вы можете выбрать надежные и красивые строительные материалы со скидкой до 70%</p>
                  </div>
               </div>
            </div>
            <div class="swiper-slide sale-slide">
               <div class="slider__item">
                  <div class="item__top item__img--1">
                     <div class="item__title">Бесплатный расчет кровли, не&nbsp;выходя из&nbsp;дома</div>
                     <div class="item__validity">Срок действия: до 31.03.2021</div>
                     <a class="btn-jump">
                        <svg>
                           <use xlink:href="img/sprite.svg#arrow-jump"></use>
                        </svg>
                     </a>
                  </div>

                  <div class="item__text">
                     <p> Закажите бесплатный расчет по выбору кровли
                        и кровельных материалов, не выходя из дома.</p>
                  </div>
               </div>
            </div>
            <div class="swiper-slide sale-slide">
               <div class="slider__item">
                  <div class="item__top item__img--1">
                     <div class="item__title">Бесплатный расчет кровли, не&nbsp;выходя из&nbsp;дома</div>
                     <div class="item__validity">Срок действия: до 31.03.2021</div>
                     <a class="btn-jump">
                        <svg>
                           <use xlink:href="img/sprite.svg#arrow-jump"></use>
                        </svg>
                     </a>
                  </div>

                  <div class="item__text">
                     <p> Закажите бесплатный расчет по выбору кровли
                        и кровельных материалов, не выходя из дома.</p>
                  </div>
               </div>
            </div>
            <div class="swiper-slide sale-slide">
               <div class="slider__item">
                  <div class="item__top item__img--1">
                     <div class="item__title">Бесплатный расчет кровли, не&nbsp;выходя из&nbsp;дома</div>
                     <div class="item__validity">Срок действия: до 31.03.2021</div>
                     <a class="btn-jump">
                        <svg>
                           <use xlink:href="img/sprite.svg#arrow-jump"></use>
                        </svg>
                     </a>
                  </div>

                  <div class="item__text">
                     <p> Закажите бесплатный расчет по выбору кровли
                        и кровельных материалов, не выходя из дома.</p>
                  </div>
               </div>
            </div>
            <div class="swiper-slide sale-slide">
               <div class="slider__item">
                  <div class="item__top item__img--1">
                     <div class="item__title">Бесплатный расчет кровли, не&nbsp;выходя из&nbsp;дома</div>
                     <div class="item__validity">Срок действия: до 31.03.2021</div>
                     <a class="btn-jump">
                        <svg>
                           <use xlink:href="img/sprite.svg#arrow-jump"></use>
                        </svg>
                     </a>
                  </div>

                  <div class="item__text">
                     <p> Закажите бесплатный расчет по выбору кровли
                        и кровельных материалов, не выходя из дома.</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- If we need pagination -->
         <div class="swiper-pagination"></div>

         <!-- If we need navigation buttons -->
         <div class="swiper-button-prev sale-swiper-button-prev"></div>
         <div class="swiper-button-next sale-swiper-button-next"></div>

         <!-- If we need scrollbar -->
         <div class="swiper-scrollbar"></div>
      </div>


   </div>
</section>


<!-- <div class="slider__item">
   <div class="item__top item__img--1">
      <div class="item__title">Бесплатный расчет кровли, не&nbsp;выходя из&nbsp;дома</div>
      <div class="item__validity">Срок действия: до 31.03.2021</div>
      <a class="btn-jump">
         <svg>
            <use xlink:href="img/sprite.svg#arrow-jump"></use>
         </svg>
      </a>
   </div>

   <div class="item__text">
      <p> Закажите бесплатный расчет по выбору кровли
         и кровельных материалов, не выходя из дома.</p>
   </div>
</div> -->
