// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-text: #43525c;
  --color-headline: #39566a;
  --color-accent: #2399eb;
  --color-adress-contact: rgba(122, 135, 139, 0.7);
}
